.cut-list {
  margin-top: 1rem;
}

.text-highlight {
  color: #6f42c1;
}

.btn-purple {
  background-color: #6f42c1;
  color: white;
  border: none;
  border-radius: 1.2rem;
  padding: 0.35em 1em;
  font-weight: 500;
}

.btn-purple:hover {
  background-color: #5a379e;
}