<div class="cut-item p-3 mb-3 rounded border position-relative">
  <div class="d-flex justify-content-between align-items-start mb-2">
    <span class="badge bg-purple">{{ cut.difficulty.libelle }} - {{ cut.difficulty.point }} points</span>

      <div *ngIf="authService.isAdmin()" class="btn-group btn-group-sm gap-2">
        <button class="btn btn-outline-danger" (click)="onDeleteClick()">
          <i class="bi bi-trash"></i>
        </button>
        <button class="btn btn-outline-primary" (click)="onEditClick()">
          <i class="bi bi-pencil"></i>
        </button>
      </div>
  </div>

  <div class="lyrics-line">
    <div class="before mb-2">{{ cut.beforeLyric }}</div>

    <div class="search-toggle mb-2">
      <button class="btn btn-sm btn-outline-secondary" (click)="toggleSearchLyric()">
        {{ showSearchLyric ? 'Masquer' : 'Afficher' }}
      </button>

      <span *ngIf="showSearchLyric" class="search text-e83e8c fw-bold ms-2">
        {{ cut.searchLyric }}
      </span>
    </div>

    <div class="after mt-2">{{ cut.afterLyric }}</div>
  </div>
</div>
