<nav class="navbar navbar-expand-lg navbar-light background-grey">

  <div class="container-fluid">

    <a class="navbar-brand text-purple" href="#">N'oubliez pas les Paroles</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="text-pink">Accueil</a>
        </li>
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/song" routerLinkActive="text-pink">Chansons</a>
        </li>
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/author" routerLinkActive="text-pink">Chanteurs</a>
        </li>
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/leaderboard" routerLinkActive="text-pink">Classement</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <ng-container *ngIf="authService.currentPlayerSig()">
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">
              <i class="bi bi-person-circle"></i>
              {{ authService.currentPlayerSig()?.name }}
            </a>
          </li>

          <li class="nav-item">
            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4" (click)="authService.logout()">Déconnexion</button>
          </li>
        </ng-container>


        <ng-container *ngIf="!authService.currentPlayerSig()">
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">
                Connexion
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/register">
                Inscription
              </a>
            </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>