<div class="container mt-5">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <img [src]="user.avatarUrl" alt="Avatar" class="img-fluid rounded-circle" style="width: 150px; height: 150px; object-fit: cover;" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">{{ user.pseudo }}</h2>
          <p class="card-text">Classement : <strong>{{ user.rank }}</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
