/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

.text-purple {
  color: #6f42c1 !important;
  font-weight: bold;
  font-size: 30px;
}

.text-pink {
  color: #e83e8c !important;
  font-weight: bold;
}

.background-grey {
  background-color: #f0f1f0;
}

.no-underline {
  text-decoration: none;
  color: inherit;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.spinner {
  border: 4px solid transparent;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
